body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background: #f7f8fb;
}

.cheats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
}

.topic {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    transition: transform .2s ease;
    box-shadow: 0 6px 14px rgba(0, 0, 0, .06);
}

.topic:hover {
    transform: translateY(-6px);
}

@media(max-width:700px) {
    .cheats {
        grid-template-columns: 1fr;
    }

    .topic {
        display: block;
    }
}
