body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #222121;
    color: white;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 30px;
}

.box {
    background: #eee;
    padding: 50px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.box:hover {
    transform: rotate(2deg);
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
